html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #e2e1e0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Noto', 'Helvetica Neue', 'Helvetica', sans-serif;
    line-height: 1.5;
    background-color: #eeeeee;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: -moz-scrollbars-none;
}

header {
    width: 100%;
    height: 64px;
    background-color: #4285f4;
    margin-bottom: 8px;
    color: white;
    font-size: 21px;
    text-align: center;
    z-index: 1;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.14);
    position: fixed;
}


header a {
    color: white;
    font-size: 23px;
    text-decoration: none;
    max-width: 470px;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 64px;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    display: inline-block;
    background: rgba(255,255,255,0.03); 
}

header a img {
    margin-bottom: -5px;
    margin-left: -20px;
    height: 28px;
    width: 28px;
}

header a.active {
    background: rgba(255,255,255,0.07); 
    border-bottom: 2px solid #F48FB1;
}

header a:hover {
    background: rgba(0, 0, 0, 0.12);
}

footer {
    background: #424242;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    padding: 4px;
    color: white;
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14);
}

::-webkit-scrollbar { 
    display: none; 
}

::-moz-scrollbar { 
    display: none; 
}

.scroller {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 72px;
    -webkit-overflow-scrolling: touch;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 128px;
}

.card {
    text-align: left;
    color: text-align: left;
    border-radius: 2px;
    display: inline-block;
    width: 300px;
    margin: 0.5rem;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 2px;
}

.card a {
    text-decoration: none;
    color: #131516;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    min-width: 300px;
    height: 200px;
    background-color: #E0E0E0;
}

.card-content {
    padding: 16px 16px 8px;
}

.card-content .title {
    height: 60px;
    overflow: hidden;
    font-size: 17px;
    line-height: 19px;
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}

.card-content .details {
    color: #828282;
    font-size: 13px;
}

.card-actions {
    border-top: 1px solid #e8e8e8;
    padding: 5px 16px;
    font-size: 13px;
    color: #373d3f;
}

.card .icon {
    width: 16px;
    margin-bottom: -3px;
}

.fab {
    display: block;
    position: fixed;
    bottom: 24px;
    right: 24px;
    background: #ff4081;
    fill: white;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    height: 56px;
    width: 56px;
    min-width: 0;
    outline: none;
    padding: 16px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1;
    /* NOTE: Both values are needed, since some phones require the value `transparent`. */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: transform 200ms ease-out;
    will-change: transform;
    overflow: hidden;
    animation-delay: 700ms;
    -webkit-animation-delay: 700ms;
}

.fab:hover, .fab:active, .fab:focus {
    transform: scale(1.2);
    background-color: #C51162;
}

@media screen and (max-width: 640px) {
    .content {
        padding-left: 0px;
    }
}

@media screen and (max-width: 956px) {
    header a {
        max-width: 310px;
    }
}

@media screen and (min-width: 1264px) {
    .fab {
        bottom: auto;
        right: auto;
        top: 40px;
        right: 50%;
        margin-right: -584px;
    }
}

@media screen and (max-width: 420px) {
    header {
        height: 56px;
    }
    header a {
        line-height: 56px;
    }
    .scroller {
        padding-top: 72px;
    }
    .content {
        margin-bottom: 64px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 320px) {
    .card {
        margin: 6px 0;
        /*padding:0; */
    }
}

.vote,
.vote div {
    float: right;
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-flex-direction: row;
}

.vote div {
    margin-left: 9px;
}

.vote span {
    margin-left: 4px;
}

.vote svg {
    pointer-events: none;
    margin-top: 1px;
}

.voted,
.vote.on div:hover {
    color: #ff4081;
}

.voted svg,
.vote.on div:hover svg {
    fill: #ff4081;
}

.vote > *{
    cursor: default !important;
}

.vote.on > *{
    cursor: pointer !important;
}

.bounce {
    animation-name: bounceIn;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    font-weight: bold;
    z-index: 3;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.3) translate3d(0, 0, 0);
    }
    50% {
        transform: scale(2.3);
    }
    80% {
        transform: scale(0.89);
    }
    100% {
        transform: scale(1) translate3d(0, 0, 0);
    }
}
